// Portfolio item 2 modal popup
#portfolioModal2.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog
        .modal-content
            .close-modal(data-bs-dismiss='modal')
                img(src='assets/img/close-icon.svg', alt='Close modal')
            .container
                .row.justify-content-center
                    .col-lg-8
                        .modal-body
                            // Project details
                            h2.text-uppercase Tbilisi
                            img.img-fluid.d-block.mx-auto(src='assets/img/tbilisi.jpg', alt='Tbilisi')
                            p Tbilisi, the capital of Georgia, blends ancient charm with modern vibrancy. Nestled in a scenic valley along the Mtkvari River, the city boasts diverse architecture, from medieval churches to Art Nouveau facades. The Old Town’s cobbled streets lead to landmarks like Narikala Fortress and sulfur baths. A lively arts scene, buzzing nightlife, and a rich culinary culture make Tbilisi a dynamic hub. Warm Georgian hospitality and a mix of Eastern and Western influences define its unique character. With stunning viewpoints, thriving cafes, and deep historical roots, Tbilisi captivates visitors with its timeless beauty and ever-evolving energy.
                            ul.list-inline
                                li
                                    strong Economy:
                                    | 50 GEL
                                li
                                    strong Comfort:
                                    | 60 GEL  
                                li
                                    strong Van:
                                    | 100 GEL  
                                li
                                    strong 3rd Class:
                                    | 200 GEL
                                li
                                    strong Sprinter:
                                    | 230 GEL
                            button.btn.btn-primary.btn-xl.text-uppercase(data-bs-dismiss='modal', type='button')
                                i.fas.fa-xmark.me-1
                                | Close