// Portfolio item 1 modal popup
#portfolioModal1.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog
        .modal-content
            .close-modal(data-bs-dismiss='modal')
                img(src='assets/img/close-icon.svg', alt='Close modal')
            .container
                .row.justify-content-center
                    .col-lg-8
                        .modal-body
                            // Project details
                            h2.text-uppercase Gudauri
                            img.img-fluid.d-block.mx-auto(src='assets/img/gudauri.jpg', alt='Gudauri')
                            p Gudauri is a ski resort located on the south-facing plateau of The Greater Caucasus Mountain Range in Georgia. The resort is situated in the Kazbegi Municipality, along the Georgian Military Highway near the Jvari Pass, at an elevation of 2,200 meters (7,200 ft.) above sea level. Gudauri lies 120 km (75 mi) to the north of the Georgian capital Tbilisi. Gudauri is 4.1 km away from the nearest border with the unrecognized South Ossetia. The slopes of Gudauri are above the tree line and considered to be avalanche-safe. The ski season lasts from December to April. Heliskiing is available throughout the season.
                            ul.list-inline
                                li
                                    strong Economy:
                                    | 200 GEL 
                                li
                                    strong Comfort:
                                    | 230 GEL  
                                li
                                    strong Van:
                                    | 350 GEL  
                                li
                                    strong 3rd Class:
                                    | 500 GEL
                                li
                                    strong Sprinter:
                                    | 500 GEL
                            button.btn.btn-primary.btn-xl.text-uppercase(data-bs-dismiss='modal', type='button')
                                i.fas.fa-xmark.me-1
                                | Close