doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Taxi Georgia

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top
            .container
                a.navbar-brand(href='#page-top')
                    img(src='assets/img/navbar-logo.svg', alt='...')
                button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.fas.fa-bars.ms-1
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.text-uppercase.ms-auto.py-4.py-lg-0
                        li.nav-item
                            a.nav-link(href='#cars') Cars
                        li.nav-item
                            a.nav-link(href='#destinations') Destinations
        // Masthead
        header.masthead
            .container
                .masthead-subheading Welcome to our Taxi company
                .masthead-heading.text-uppercase Taxi transfers to and from Tbilisi Airport, taking you anywhere in Georgia.
                a.btn.btn-primary.btn-xl.text-uppercase(href='tel:+995555553955') Book a Car

        // Services
        section#cars.page-section
            .container
                .text-center
                    h2.section-heading.text-uppercase Our Taxis
                    h3.section-subheading.text-muted Choose what kind of taxi you are looking for
                .row.text-center
                    .col-md-4
                        img.img-fluid(src='assets/img/car-economy.jpg' alt='econom car')
                        h4.my-3 Economy
                        p.text-muted
                            | Econom Taxi from 50 GEL
                    .col-md-4
                        img.img-fluid(src='assets/img/car-comfort.jpg' alt='comfort car')
                        h4.my-3 Comfort
                        p.text-muted
                            | Comfort Taxi from 80 GEL
                    .col-md-4
                        img.img-fluid(src='assets/img/car-van.jpg' alt='van car')
                        h4.my-3 Van
                        p.text-muted
                            | Vans from 100 GEL
                .row.text-center
                    .col-md-6
                        img.img-fluid(src='assets/img/car-small-microbus.jpg' alt='small microbus car')
                        h4.my-3 Comfort
                        p.text-muted
                            | Comfort Taxi from X GEL
                    .col-md-6
                        img.img-fluid(src='assets/img/car-microbus.jpg' alt='microbus car')
                        h4.my-3 Van
                        p.text-muted
                            | Vans from X GEL

        // Portfolio Grid
        section#destinations.page-section.bg-light
            .container
                .text-center
                    h2.section-heading.text-uppercase Popular Destinations
                    h3.section-subheading.text-muted Places to visit in Georgia
                .row
                    .col-lg-4.col-sm-6.mb-4.d-flex
                        // Portfolio item 1
                        .portfolio-item.d-flex.flex-column
                            a.portfolio-link(data-bs-toggle='modal', href='#portfolioModal1')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/gudauri.jpg', alt='Gudauri')
                            .portfolio-caption
                                .portfolio-caption-heading Airport To Gudauri Taxi Transfer
                                .portfolio-caption-subheading.text-muted Economy from 220 GEL 
                                .portfolio-caption-subheading.text-muted Comfort from 250 GEL 
                    .col-lg-4.col-sm-6.mb-4.d-flex
                        // Portfolio item 2
                        .portfolio-item.d-flex.flex-column
                            a.portfolio-link(data-bs-toggle='modal', href='#portfolioModal2')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/tbilisi.jpg', alt='Tbilisi Center')
                            .portfolio-caption
                                .portfolio-caption-heading Airport To Tbilisi Center Taxi Transfer
                                .portfolio-caption-subheading.text-muted From 60 GEL
                    .col-lg-4.col-sm-6.mb-4.d-flex
                        // Portfolio item 3
                        .portfolio-item.d-flex.flex-column
                            a.portfolio-link(data-bs-toggle='modal', href='#portfolioModal3')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/kazbegi.jpg', alt='Kazbegi')
                            .portfolio-caption
                                .portfolio-caption-heading Airport To Kazbegi Taxi Transfer
                                .portfolio-caption-subheading.text-muted From 288 GEL


        // Footer
        footer.footer.py-4
            .container
                .row.align-items-center
                    .col-lg-4.text-lg-start
                        | Copyright &copy; Taxi Georgia 2025
                    .col-lg-4.my-3.my-lg-0
                        a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Twitter')
                            i.fab.fa-twitter
                        a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Facebook')
                            i.fab.fa-facebook-f
                        a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='LinkedIn')
                            i.fab.fa-linkedin-in

        // Portfolio Modals
        include includes/portfolio-modal-1
        include includes/portfolio-modal-2
        include includes/portfolio-modal-3

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')
        script(src='https://cdn.startbootstrap.com/sb-forms-latest.js')
